<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="header :: header"></div>
    <title>상품목록</title>
</head>
<body>
<div class="container">

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>설명</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.description}"></td>

                <td>
                    <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}"
                       class="btn btn-primary" role="button">수정</a>
                    <form th:action="@{/items/{id} (id=${item.id})}" th:method="delete">
                        <button type="submit" class="btn btn-primary">삭제</button>
                    </form>

                </td>

            </tr>
            <p> <a href="/items/new">상품 등록</a></p>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->
</body>
</html>